<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>HTunes Homepage</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5">HTunes</h1>

        <form th:action="@{/search}" method="get" th:object="${SongSearch}">
            <input type="text" name="keyword" th:field="*{keyword}" placeholder="Search for songs" size="50" required />
            <input type="submit" value="Search" >
        </form>
    </div>
</div>

 <div class="container">
     <div class="row gx-5">
         <div class="col">
             <table class="table">
                 <thead>
                 <tr>
                     <th scope="col">Songs</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each="track: ${tracks}">
                     <td th:text="${track.getSongName()}"></td>
                 </tr>
                 </tbody>
             </table>
         </div>
         <div class="col">
             <table class="table">
                 <thead>
                 <tr>
                     <th scope="col">Artists</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each="artist: ${artists}">
                     <td th:text="${artist.getArtistName()}"></td>
                 </tr>
                 </tbody>
             </table>
         </div>
         <div class="col">
             <table class="table">
                 <thead>
                 <tr>
                     <th scope="col">Genres</th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each="genre: ${genres}">
                     <td th:text="${genre.getName()}"></td>
                 </tr>
                 </tbody>
             </table>
         </div>
     </div>
 </div>
</body>
</html>