<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Song results</title>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-5">Search Results:</h1>
    </div>
</div>
<div class="container">
    <div class="row gx-5">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Songs</th>
                    <th scope="col">Album</th>
                    <th scope="col">Artist</th>
                    <th scope="col">Genre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="song: ${songs}">
                    <td th:text="${song.getTrackName()}"></td>
                    <td th:text="${song.getAlbum()}"></td>
                    <td th:text="${song.getArtist()}"></td>
                    <td th:text="${song.getGenreName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>